<%= form_for(@smoochee) do |f| %>
  <% if @smoochee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@smoochee.errors.count, "error") %> prohibited this smoochee from being saved:</h2>

      <ul>
      <% @smoochee.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<% end %>
