<div id="copy_box" style="height: 195px;">
	<img src="images/smoochbot_020412.png" alt="This is smoochbot. This is what he does." width="271" height="322" border="0" class="robot"/>
	<p class="main_copy" style="width: 400px; font-size: 22px;">Thanks for signing up. Please check your inbox to verify your email address.</p>
	<p>Also. I think you're great.
</div>
